.rjb-color{
    background-color: #fceae8;
}
.rjb-btn-colur{
    color: white;
    background-color: #ff2278;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.ctg-colur{
    background-color: #da70d6;
}
.collaction img{
    width: 100px;
}
.rate{
    color: lime;
}
